{% extends 'base.html.twig' %}

{% block title %}Bienvenu!{% endblock %}

{% block body %}

<div class="container">
    <h1>Bienvenu chez E-Taratasy!</h1>
    <div class="intro">
        <p><b>Fini les files d'attentes et les démarches compliquées! Notre plateforme vous permet de déposer, suivre et finaliser vos demande 
        administratives en ligne, rapidement en toute sécurité, où que vous soyez.</b></p>
    </div>
    <h2>OBJECTIFS SPECIFIQUES</h2>
    <div class="accueildetails">
        <div class="detail"><p>Simplifier vos démarches en regroupant tous vos dossiers en un seul espace en ligne</p></div>
        <div class="detail"><p>Suivre l'avancement de vos demandes en temps réel.</p></div>
        <div class="detail"><p>Recevoir des alertes par e-mail ou sms à chaque étape importante.</p></div>
        <div class="detail"><p>Garantir la sécurité et la confidentialité de vos données.</p></div>
    </div>
</div>
{% endblock %}
